---
.rule_only_scheduled: &rule_only_scheduled
  rules:
    - if: $CI_PIPELINE_SOURCE == 'scheduled'

.rule_not_scheduled: &rule_not_scheduled
  rules:
    - if: $CI_PIPELINE_SOURCE == 'scheduled'
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

stages:
  - syntax
  - unit
  - beaker
  - trigger

default:
  cache:
    paths:
      - vendor/bundle

  before_script: &before_script
    - rm Gemfile.lock || true
    - "# Update system gems if requested. This is useful to temporarily workaround troubles in the test runner"
    - "# Set `rubygems_version` in the .sync.yml to set a value"
    - "# Ignore exit code of SIGPIPE'd yes to not fail with shell's pipefail set"
    - '[ -z "$RUBYGEMS_VERSION" ] || (yes || true) | gem update --system $RUBYGEMS_VERSION'
    - gem --version
    - bundle -v
    - bundle config without system_tests
    - bundle config path vendor/bundle
    - bundle config jobs $(nproc)
    - bundle install

validate:
  stage: syntax
  <<: *rule_not_scheduled
  image: $RUBY_IMAGE
  script:
    - bundle exec rake validate lint check rubocop
  tags:
    - docker
  parallel:
    matrix:
      - RUBY_IMAGE: docker.io/library/ruby:2.7
        PUPPET_GEM_VERSION: '~> 7'
      - RUBY_IMAGE: docker.io/library/ruby:3.2
        PUPPET_GEM_VERSION: '~> 8'

parallel_spec:
  stage: unit
  <<: *rule_not_scheduled
  image: $RUBY_IMAGE
  script:
    - bundle exec rake parallel_spec
  tags:
    - docker
  parallel:
    matrix:
      - RUBY_IMAGE: docker.io/library/ruby:2.7
        PUPPET_GEM_VERSION: '~> 7'
      - RUBY_IMAGE: docker.io/library/ruby:3.2
        PUPPET_GEM_VERSION: '~> 8'

.beaker:
  stage: beaker
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes: 
      - SIMP/**/*$OS_STRING*
      - SIMP/compliance_profiles/cis/checks/*.{yaml, json}
  image: docker.io/library/ruby:2.7
  before_script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keygen -t ed25519 -f ~/.ssh/google_compute_engine < /dev/null
  - mkdir -p /tmp/sicura_ssh
  - cp ~/.ssh/google_compute_engine.pub /tmp/sicura_ssh/
  - apt-get update && apt-get install -y zip
  - |
    cat > Gemfile.local <<EOF
      gem "beaker-google", '>= 0.5.0', require: false, git: 'https://github.com/voxpupuli/beaker-google', branch: 'main'
    EOF
  tags:
  - beaker-kubernetes
  variables:
    KUBERNETES_MEMORY_REQUEST: 2Gi
    BEAKER_set_gce_hostname: 1
  parallel:
    matrix:
      - BEAKER_PUPPET_COLLECTION: ['puppet7', 'puppet8']
  script:
  - bundle config with system_tests
  - bundle config path vendor/bundle
  - bundle config jobs $(nproc)
  - bundle install
  - bundle exec rake beaker:$NODESET

beaker_win2022:
  extends: .beaker
  variables:
    NODESET: "win2022ad"
    OS_STRING: "2022"

beaker_win2019:
  extends: .beaker
  variables:
    NODESET: "win2019ad"
    OS_STRING: "2019"

beaker_win2016:
  extends: .beaker
  variables:
    NODESET: "win2016ad"
    OS_STRING: "2016"

scelint:
  stage: syntax
  rules:
    - if: $CI_PIPELINE_SOURCE == 'scheduled'
      when: never
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes: 
      - SIMP/**/*
  image: docker.io/library/ruby:3.2
  script:
  - bundle config with system_tests
  - bundle config jobs $(nproc)
  - bundle install
  - bundle exec rake spec_prep
  - bundle exec scelint spec/fixtures/modules/*
  before_script: []
  cache:
    paths: []
  tags:
  - docker

yamllint:
  stage: syntax
  <<: *rule_not_scheduled
  image: "$CI_REGISTRY/$CI_PROJECT_ROOT_NAMESPACE/release-eng/ci-helpers/yamllint:latest"
  script:
  - yamllint .
  before_script: []
  cache:
    paths: []
  tags:
  - docker

trigger build:
  rules:
  - if: "$CI_COMMIT_TAG"
  stage: trigger
  variables:
    COMPONENT_NAME: "$CI_PROJECT_NAME"
    COMPONENT_TAG: "$CI_COMMIT_TAG"
    COMPONENT_REF: "$CI_COMMIT_SHA"
    COMPONENT_URL: git@$CI_SERVER_HOST:$CI_PROJECT_PATH
  trigger: sicura/release-eng/sicura-enterprise-builder

